/Users/Calum/Documents/Work/Freelance/Ascot RoundTable Charity/ARTCE_Code/**OLD SITE**/public_html/video/
/Users/Calum/Documents/Work/Freelance/Ascot RoundTable Charity/ARTCE_Code/_Attic_/
/Users/Calum/Documents/Work/Freelance/Ascot RoundTable Charity/ARTCE_Code/img/
/Users/Calum/Documents/Work/Freelance/Ascot RoundTable Charity/ARTCE_Code/Exports/
/Users/Calum/Documents/Work/Freelance/Ascot RoundTable Charity/ARTCE_Code/Resources/