#php_value upload_max_filesize 8M
#php_value memory_limit 128M

# 7 days 
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#Header unset ETag
#Header unset Last-Modified
Header set Cache-Control "max-age=604800, public" 
</FilesMatch> 

# 2 DAYS 
<FilesMatch "\.(xml|txt)$"> 
Header set Cache-Control "max-age=172800, public, must-revalidate" 
</FilesMatch> 

# 2 HOURS 
<FilesMatch "\.(html|htm)$"> 
Header set Cache-Control "max-age=7200, must-revalidate" 
</FilesMatch> 


ErrorDocument 404 /index.php 
ErrorDocument 403 /index.php

Options -MultiViews
RewriteEngine on

#Redirect requests to php e.g. /networks -> networks.php
#1st check it's not a directory, then that it is a php file. If both true do redirect
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} ^(.*)\.htm(l)?
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.htm(l)?$ /$1.php [L]


