body {
	margin: 0;
	padding: 0;
}

img {
	position: relative;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*NAVIGATION BAR*/

button.menuNav {
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 4px;

	color: white;
	text-align: center;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	background-color: rgb(7, 17, 28);
	font-size: 1.2em;

	border-top: 1px rgba(255, 255, 255, 0.38) solid;
	border-bottom: 1px rgba(255, 255, 255, 0.38) solid;
	border-left: none;
	border-right: none;

	transition: text-shadow 500ms;
}

button.menuNav:hover {
	cursor: pointer;
	color: rgb(240, 240, 240);
	text-shadow: 2px 0px 1.25em rgba(255, 255, 255, 0.4), -2px 0px 1.25em rgba(255, 255, 255, 0.4), 0px 2px 1.25em rgba(255, 255, 255, 0.4), 0px -2px 1.25em rgba(255, 255, 255, 0.4);
}

.testNav {
	/* display: none; */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
	min-height: 200px;
	color: white;
	text-align: center;
	transition: 500ms;
}

.testNav::after {
	content: "\a -";
	white-space: pre;
}

.testNav:hover::after {
	transform: scaleX(2);
}

@media screen and (max-width: 660px) {
	button.menuNav {
		display: block;
	}
}

ul.nav {
	display: none;
	margin: 0;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
	list-style: none;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	background-color: rgb(7, 17, 28);
	border-top: 1px rgba(255, 255, 255, 0.38) solid;
	border-bottom: 1px rgba(255, 255, 255, 0.38) solid;
}

.nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: calc(100%/8.4);
}

.nav a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 6px 4px;
	margin: 0;
	font-size: 1.2em;
	transition: text-shadow 500ms, text-decoration 1000ms;
}

.nav a:hover {
	color: rgb(240, 240, 240);
	text-shadow: 2px 0px 1.25em rgba(255, 255, 255, 0.4), -2px 0px 1.25em rgba(255, 255, 255, 0.4), 0px 2px 1.25em rgba(255, 255, 255, 0.4), 0px -2px 1.25em rgba(255, 255, 255, 0.4);
}

.nav a.active {
	background-color: rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
	text-shadow: none;
	cursor: default;
}

@media screen and (max-width: 660px) {
	.nav li {
		width: 49%;
		border-bottom: 1px rgba(255, 255, 255, 0.38) solid;
		font-size: 0.9em;
	}

	.nav li:nth-child(7), .nav li:nth-child(8){
    	border-bottom: none;
	}

	ul.nav {
		padding: 1px 0;
		border-bottom: 2px rgba(255, 255, 255, 0.38) solid;
	}
}
